<section class="p-5">
  <form [formGroup]="resetPasswordForm" (submit)="onSubmit()"
    class="flex flex-col justify-start items-center space-y-5">
    <div class="flex flex-col gap-2">
      <label htmlFor="password">رمز عبور</label>
      <input type="password" pInputText formControlName="password">
      <small id="password-help">Enter your password</small>
      <ng-container
        *ngIf="resetPasswordForm.get('password')?.touched &&
         (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.invalid)">
        <small class="text-red-600 bg-red-100 rounded-md p-2"
          *ngIf="resetPasswordForm.get('password')?.hasError('required')">رمز
          عبور الزامی است</small>
      </ng-container>

    </div>
    <div class="flex flex-col gap-2">
      <label htmlFor="passwordConfirm">تکرار رمزعبور</label>
      <input type="password" pInputText formControlName="passwordConfirm" />
      <small id="passwordConfirm-help">Confirm Your Password.</small>
      <ng-container
        *ngIf="resetPasswordForm.get('passwordConfirm')?.touched &&
         (resetPasswordForm.get('passwordConfirm')?.dirty || resetPasswordForm.get('passwordConfirm')?.invalid)">
        <small class="text-red-600 bg-red-100 rounded-md p-2"
          *ngIf="resetPasswordForm.get('passwordConfirm')?.hasError('required')">تایید
          رمز عبور الزامی است</small>
      </ng-container>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary">آپدیت</button>
    </div>
  </form>
</section>
