@media (max-width: 992px) {
  #leftSection{
    display: flex;
    flex-direction: column;
  }
}
.change-button{
  width:25px;
  height: 25px;
  border-radius: 100%;
  border:1px solid #ccc;
  color: #333;
  &.active{
    border-color:#333;
    //background: green;
  }
  &.minus{
    //background: red;
  }
}
