<section class="p-5">

  <h1 class="p-3">ایجاد کارمزد جدید</h1>

<form [formGroup]="referenceForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-start items-center p-5">
  <mat-form-field appearance="outline">
    <mat-label>نام رفرنس</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>نوع ارز</mat-label>
    <mat-select formControlName="unit">
      <mat-option value="crypto">{{"crypto" | translate}}</mat-option>
      <mat-option value="fiat">{{"fiat" | translate}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>وضعیت</mat-label>
    <mat-select formControlName="status">
          <mat-option [value]="1">فعال</mat-option>
          <mat-option [value]="0">غیر فعال</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="flex items-center">
    <button mat-raised-button color="primary" type="submit">ثبت</button>
    <div mat-dialog-actions class="!flex !justify-end !items-center">
      <button mat-raised-button mat-dialog-close color="warn">برگشت</button>
    </div>
  </div>

</form>

</section>
<mat-progress-bar mode="determinate" bufferValue="0" class="!rounded-full !-mt-1"></mat-progress-bar>
